<%= form_for(@question) do |f| %>
<% if @question.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

  <ul>
    <% @question.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :Enunciado %><br>
  <%= f.text_field :body, :class => 'form-control' %>
</div>
<p></p>
<div class="form-group">
  <%= f.label :"Categoria" %><br>
  <%= f.collection_select(:category_id, Category.all, :id, :name,  {}, {class: "form-control"}) %>
</div>
<p></p>
<div class="actions">
  <%= f.submit 'Salvar', :class => 'btn btn-sm btn-primary'%>
</div>
<p></p>
<% end %>
