<p id="notice"><%= notice %></p>

<div class="container">
  <div class="page-header">
<h1>Questões Cadastradas</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Enunciado</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.body %></td>
        <td><%= question.category.name %></td>
        <td><%= link_to 'Mostrar', question %></td>
        <td><%= link_to 'Editar', edit_question_path(question) %></td>
        <td><%= link_to 'Excluir', question, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta questão?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Questão', new_question_path %> |
  <%= link_to 'Voltar', root_path %> 


  <!-- container end -->
</div>

