<%= render 'navbar_questions' %>
<p id="notice"><%= notice %></p>
<p></p>
<div class="container">
  <div class="page-header">
  	<h1>Questão</h1>
  </div>
<p>
  <strong>Enunciado:</strong>
  <%= @question.body %>
</p>
<p>
  <strong>Categoria:</strong>
  <%= @question.category.name %>
</p>
<%= link_to 'Editar', edit_question_path(@question) %> |
<%= link_to 'Voltar', questions_path %>
</div>

