
<%= form_for(@survey) do |f| %>

<%= f.hidden_field :user_id, :value => "15" %>
<%= @survey.question ||= [] %>
<%= @survey.option ||= [] %>

  <div class="wrap">

      <% @questions_adm.each_with_index do |q, i| %>

          <%= @survey.question << q.id %>
          <%= f.hidden_field :question, :multiple => true, :value => q.id %>

          <div class='likert'>
           <ul> 
            <li>
              <%= radio_button_tag("option[group_#{i.to_s}]", 1) %>

            </li>
            <li>
              <%= radio_button_tag("option[group_#{i.to_s}]", 2) %>

            </li>
            <li>
              <%= radio_button_tag("option[group_#{i.to_s}]", 3) %>

            </li>
            <li>
              <%= radio_button_tag("option[group_#{i.to_s}]", 4) %>

            </li>
            <li>
              <%= radio_button_tag("option[group_#{i.to_s}]", 5) %>

            </li>
          </ul>
          <br />
        </div><br /><br />

        <% end %>

  <br />
<div class="actions">
  <%= f.submit 'Salvar', :class => 'btn btn-sm btn-primary'%>
</div>
  <br />

<% end %>
