

<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <br />

  <div class="wrap">

      <% @questions_adm.each do |question| %>
        <h3><span class="label label-primary"><%= question.body %></span></h3>
      <% end %>

  </div>

  <br />
  <div class="actions">
    <%= f.submit %>
  </div>

  <br />

<% end %>





