
<%= form_tag (@survey) do |f| %>


<%= hidden_field_tag :user_id, 666 %>

<fieldset>
  <div class="wrap">

      <% @questions_adm.each_with_index do |q, i| %>

      <% indexplusone = i + 1 %>
      <%= hidden_field_tag "question[#{indexplusone.to_s}]", q.id %>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= indexplusone %> - <%= q.body %></h3>
        </div>

        <div class="panel-body">
            <div class='likert'>
             <ul> 
              <li>
                <%= radio_button_tag("survey[option][group_#{indexplusone.to_s}]", 1) %>
                <%= label_tag("option", "Concordo Totalmente") %>

              </li>
              <li>
                <%= radio_button_tag("survey[option][group_#{indexplusone.to_s}]", 2) %>
                <%= label_tag("option", "Concordo") %>

              </li>
              <li>
                <%= radio_button_tag("survey[option][group_#{indexplusone.to_s}]", 3) %>
                <%= label_tag("option", "Indiferente") %>

              </li>
              <li>
                <%= radio_button_tag("survey[option][group_#{indexplusone.to_s}]", 4) %>
                <%= label_tag("option", "Discordo") %>

              </li>
              <li>
                <%= radio_button_tag("survey[option][group_#{indexplusone.to_s}]", 5) %>
                <%= label_tag("option", "Discordo Totalmente") %>

              </li>
            </ul>
          </div>
        </div>
      </div>

     <% end %>
  </fieldset>

<div class="actions">
  <%= submit_tag 'Salvar', :class => 'btn btn-sm btn-primary'%>
</div>
  <br />

<% end %>
