<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @survey.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @survey.question %>
</p>

<p>
  <strong>Option:</strong>
  <%= @survey.option %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
